## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
countries = ['Taiwan','Japan','Korea','UK','China','Thailand','Iceland','US','Mexico','Indonesia']
populations = list(np.random.randint(low = 1000000, high = 100000000, size = 10))

In [3]:
data = {'國家': countries,
        '人口': populations}
data = pd.DataFrame(dict(data))
data

          國家        人口
0     Taiwan  12331708
1      Japan  20336239
2      Korea   4472190
3         UK  21380597
4      China   5489980
5   Thailand  91817321
6    Iceland  34058770
7         US  59340005
8     Mexico  78987334
9  Indonesia  29181019

In [4]:
# data.loc[data['人口']==data['人口'].max()] # Sow 一整個 row
data[data['人口']==data['人口'].max()] # Sow 一整個 row

         國家        人口
5  Thailand  91817321

In [5]:
data.loc[data['人口']==data['人口'].max(),'國家'].item()

'Thailand'

In [6]:
# data.loc[data['人口'].idxmax()] # Show 一整個 row
data.set_index('國家', inplace=True) # 更改 index
data['人口'].idxmax() # 印出 index

'Thailand'